name: Python package

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Nox & uv
      run: |
        python -m pip install "nox[uv]==2024.10.9"
    - name: Install dependencies
      run: |
        uv sync
    - name: Run code formatting checks
      run: |
        uv run nox -s check_format_and_linting
    - name: Run static type checking
      run: |
        uv run nox -s check_types
    - name: Ensure docs build
      run: |
        uv run nox -s test_docs_build
    - name: Run unit tests
      run: |
        uv run nox -s run_unit_tests
    - name: Run functional tests
      run: |
        uv run nox -s run_func_tests
    - name: Compute test coverage
      run: |
        uv run nox -s compute_test_coverage